<p><a href='/'</a>Home</p>

<h3>Update Pets Form</h3>

<form action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <p>Enter new pet info:</p>
  <p>Enter image:</p>
  <input type='text' name='image'/><br/>
  <p>Enter name:</p>
  <textarea name='name'></textarea><br/>
  <p>Enter age:</p>
  <textarea name='age'></textarea><br/>
  <p>Enter sex:</p>
  <textarea name='sex'></textarea><br/>
  <%= submit_tag "Update Pet" %>
